// Colors
$clr-primary: #e53635;
$clr-p-light: #ff6d60;
$clr-p-dark:  #ab000e;

$clr-secondary: #bcbcbc;
$clr-s-light:   #eeeeee;
$clr-s-dark:    #8c8c8c;

$clrNO-secondary: #bcbcbc;
$clrNO-s-light:   #eeeeee;
$clrNO-s-dark:    #8c8c8c;

$clr-black: #090909;
$clr-white: #f3f3f3;